.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    max-width: 1600px;
    margin: 30px auto;    
    padding-top: 20px;
    padding-bottom: 30px;
    align-content: center;
    justify-content: center;
  }

.album-div {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
}

.album-image-div {
    display: flex;
    align-items: center;
    height: 280px;
    justify-content: center;
    align-items: center;

  }

.album-image {
    border: 15px solid white;
    width: 80%;
    height: 250px;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    height: 90%;
    
}

.album-image-div :hover {
  /* box-shadow: 0 0 0 10px black; */
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 1.5), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
  transition: .5s ease;
  
}

.album-title {
    display: flex;
    justify-content: center;  
    padding-bottom: 20px; 
}

.albums-title {
  display: flex;
  justify-content: last baseline;  
  justify-self: baseline;
  align-items: end;
  align-content: last baseline;
  z-index: 10;
  position: absolute;
  color: white;
  font-style: italic;
  font-weight: bolder;
  font-size: 24px;
  margin-top: 220px;
  height: 25px;
  font-family: cursive;
}

.menu{
  display: flex;
  text-decoration: none;
  align-items: right;
  justify-content: end;
  padding-right: 50px;
}

